@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,700,700i,800,800i&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");


@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,700,700i,800,800i&display=swap')
};

// @font-face {
//     font-family: 'Roboto', sans-serif;
//     src: url('https://fonts.googleapis.com/css?family=Roboto:400,500,700')
// };




.App{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    .translates{
        display: flex;
        background: #EFD0D1;
        width: 100%;
        height: 100%;
        .cont-trans{
            display: flex;
            justify-content: center;
            margin: auto;
            .box-p{
                .red-trans{
                    display: flex;
                    flex-direction: row;
                    justify-content:flex-start;
                    font-family: 'Poppins', sans-serif;
                    color:#EA1E52;
                }
                .tinfo{
                    font-family: 'Poppins', sans-serif;
                    font-weight: bold;
                    font-size: larger;
                }
            }
            .dogt{
                font-family: 'Poppins', sans-serif;               
            } 
        } 
    }
}


.App{
    .nav_menu{
        width: 80%;
        height: 4.6875rem;
        margin: auto;
        display: flex;
        .logo_container{
            width: 18%;
            .logo{
                width: 100%;
                height: auto;
            }
        }
        .container_buttons{
            width: 80%;
            ul{
                display: flex;
                justify-content: space-around;
                li{
                    list-style: none;
                }
            }
            
        }
    }
}
// .heart{
//    color:#EA1E52;
// }