@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,700,700i,800,800i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro&display=swap");
@import url("https://use.fontawesome.com/releases/v5.9.0/css/all.css");
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,700,700i,800,800i&display=swap");
}
@font-face {
  font-family: "Maven Pro", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Maven+Pro&display=swap");
}
$color_dark_type: #282828;
$color_pink: #ea1e52;
$color_light_pink: #EFD0D1;
//Estilo componente transfers
.App {
  font-family: "Poppins", sans-serif;
  .translates {
    display: flex;
    border-top: 3.125rem;
    padding: 10%;
    background: #EFD0D1;
    position: relative;
    width: 100%;
    height: 100%;
    .cont-trans {
      display: flex;
      justify-content: center;
      margin: auto;
      .box-p {
        .red-trans {
          flex-direction: row;
          justify-content: flex-start;
          font-family: "Poppins", sans-serif;
          color: #ea1e52;
        }
        .tinfo {
          font-family: "Poppins", sans-serif;
          font-weight: bold;
          font-size: larger;
        }
      }
      .dogt {
        font-family: "Poppins", sans-serif;
      }
    }
  }
}
//estilos componente nav, by MV
.App {
  .box_nav {
    width: 100%;
    position: fixed;
    z-index: 2;
    .nav_menu {
      width: 80%;
      height: 5.2rem;
      margin: auto;
      display: flex;
      justify-content: space-between;
      .logo_container {
        width: 16%;
        height: auto;
        .logo {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
.container_buttons {
  width: 80%;
  display: flex;
  align-items: center;
  .menu_row {
    display: flex;
    justify-content: space-around;
    font-size: 0.8125rem;
    width: 75%;
    margin: 0rem;
    padding: 0rem;
    li {
      list-style: none;
      position: relative;
      .link_url {
        text-decoration: none;
        color: $color_dark_type;
        &::after {
          content: '';
          transition: transform 0.25s ease-out;
          background-color: $color_dark_type;
          width: 95%;
          transform: scaleX(0);
          height: 0.0875rem;
          bottom: -0.775rem;
          left: 0;
          position: absolute;
          transform-origin: bottom left;
        }
        &:hover::after {
          transform: scaleX(1);
          transform-origin: botom left;
        }
        &:focus::after {
          transform: scaleX(1);
          transform-origin: botom left;
        }
      }
    }
  }
}
.container_buttons {
  .box_buttons {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0.625rem;
    .signin {
      background-color: #ffffff;
      color: $color_pink;
      font-family: "Poppins", sans-serif;
      border: none;
      border-radius: 1.25rem;
      font-size: 0.75rem;
      height: 2.3125rem;
      padding: 0rem 1.125rem;
      &:hover{
        background-color: $color_pink;
        color: #ffffff;
        transition: all 0.7s ease-in-out 0s;
      }
    }
    .login {
      font-family: "Poppins", sans-serif;
      border-radius: 1.25rem;
      background-color: transparent;
      padding: 0.5rem 0.9375rem;
      color: $color_pink;
      font-size: 0.75rem;
      border: 0.0625rem solid $color_pink;
      padding: 0rem 1.125rem;
      height: 2.3125rem;
      &:hover{
        background-color: $color_pink;
        color: #ffffff;
        transition: all 0.7s ease-in-out 0s;
      }
    }
  }
}
//estilos del componente slide 
.App {
  .box_slide {
    position: relative;
    width: 100%;
    height: 31.25rem;
    z-index: 1;
    background-color: $color_light_pink;
  }
}
.heart {
  color: #ea1e52;
}
//estilo componente somos
.somos{
  .textsomos{
    text-align: center;
    .why{
      font-size: 25px; 
    }
  }
  .somos-box{
    width: 80%;
    text-align: center;
    display:flex;
    margin: auto;
    .somos-left{
      width: 50%;
      background:#fcb4b5;
    }
    .somos-rigth{
      width: 50%;
      background:#fed9be;
    }
    .icon{
      margin-top: 12%;
      font-size: 25px;
    }
  }
.gray{
  color: #403843;
  
}
.line{
  margin-left: 33%;
  padding: 0%;
   width: 200px;
   border-bottom: 2px solid gray;
}

}
.img-somos{
  width: 80%;
  text-align: center;
  display:flex;
  margin: auto;
  border: #282828 solid 1px;

}
.bold{
  font-weight:bold;

}
/// Estilado componente JoinUs

.join{
  
  background:aquamarine;

  .join-box{
    display: flex;
    flex-direction: row;
   justify-content:space-between;
   margin: auto;
    width: 80%;
  }
}

