.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}



.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.translates{
  display: flex;
  background: #EFD0D1;
  width: 100%;
  height: 100%;
}
.cont-trans{
  display: flex;
  justify-content: center;
  margin: auto;
}
.red-trans{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  font-family: 'Poppins', sans-serif;
  color:#EA1E52;
}
.dogt{
  font-family: 'Poppins', sans-serif;
 
}
.box-p{
  
}

.tinfo{
font-family: 'Poppins', sans-serif;
font-weight: bold;
font-size: larger;
} 
img{
  border: solid 1px #EA1E52
}
p{
  font-family: 'Poppins', sans-serif;
  margin-left: 10%;
  text-align: justify;
}
